<h1>Hola Usuarios</h1>
<p>Esta es la lista de todos los usuarios creados</p>

<table border="3" style="width:50%;">
  <tr>
    <td>Editar</td>
    <td>Nombre</td>
    <td>Correo</td>
    <td>Password</td>
    <td>Borrar</td>
  </tr>
<% @usuarios.each do |u| %>
  <tr>
    <td><%= link_to 'Editar', edit_user_path(u) %></td>
    <td> <%= u.name %> </td>
    <td> <%= u.email %> </td>
    <td> <%= u.password %> </td> 
    <td> <%=link_to 'Borrar', user_path(u), method: :delete, data:{ confirm: "Seguro que quieres eliminar al usuario #{u.name}" } %> </td>
  </tr>
<% end %>

</table>

<br>
<%= link_to 'Nuevo', new_user_path%>